@font-face {
    font-family: fa;
    src: url("./fonts/Norse-Bold.otf") format("opentype");
}

:root{
    --margin: 3rem;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: flex;
    align-items: center;
    margin: 0;
    height: 100%;
    overflow: hidden;
}
.left{
    position: relative;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex: initial;
    height: 100vh;
    width: max(500px);
}
.left .bg{
    display: flex;
    position: absolute;
    object-fit: cover;
    max-width: 100%;
    min-height: 100%;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 auto;
    background-color: #F9FAFB;
    height: 100vh;
    width: 100vh;
    z-index: 1;
}

.logo img{
    max-height:100%;
    flex-shrink: 2;
}

.logo h2{
    font-size: 5rem;
    font-family: fa, system-ui;
}

.logo{
    top: 10rem;
    position: absolute;
    display: flex;
    flex: initial;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    width: 100%;
    box-sizing: border-box;
    height: 8rem;
    gap:1em;
    opacity: 100%;
}


.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: var(--margin);
    padding-top: 0;
    padding-bottom: 0;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.3);
    text-align: left;
}


button{
    background-color: #596D48;
    color: white;
    border: transparent;
    border-radius: 10px;
    width: fit-content;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    box-shadow: 2px 2px 10px 5px rgba(0,0,0,0.1);
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: calc(var(--margin) / 2);
    cursor: pointer;
}

.login-section{
    margin:var(--margin);
}

.space{
    margin-bottom: 1.5rem;
}

h1{
    margin: var(--margin);
    font-size: 1.5rem;
    padding-right: 10%;
    font-weight: 600;
}

.card h1{
    margin: 0;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

.login{
    font-size: 1rem;
}

.login a{
    text-decoration: none;
    font-weight: bold;
    color: #596D48;
}

label{
    font-weight: 600;
    letter-spacing: 0.05rem;
    font-size: smaller;
    color: #474747;
    padding-bottom: 0.4rem;
}

input{
    border-radius: 5px;
    border: solid 1px #b2b3b4;
    padding: 5px;
    font-size: 1rem;
}

em{
    padding-right: 0.1rem;
}

.error{
    color: rgb(230, 0, 0);
    font-weight: initial;
    letter-spacing: normal;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 0.4rem;
    opacity: 0;
}

.form{
    display: flex;
    flex-direction: column;
    gap: calc(var(--margin) / 2);
    padding-bottom: 1rem;
}

.row{
    display: flex;
    gap: var(--margin)
}

.box{
    display: flex;
    flex-direction: column;
    width: 35%;
}

.credits{
    position: absolute;
    color: white;
    bottom: 0;
    margin-bottom: 1rem;
    font-size: 0.8rem;
}
.credits a{
    color:white;
}
